@{
    ViewData["Title"] = "Помощь серверу";
    ViewData["Page"] = "Help";
}
<div class="info help">
    <h2 class="info-tittle">Информационный раздел нашего сервра</h2>
    <div class="info-body">
        <h3>В этом разделе опубликована инструкция использования сайта, а также решения наиболее распространенных проблем с игрой.</h3>
        <p>Основная инструкция использования сайта для предотвращения потери дино:</p>
		<ul>
			<li>Выйти из игры по таймеру!!!</li>
			<li>Авторизоваться на сайте</li>
			<li>Воспользоваться функциями сайта</li>
			<li>Зайти обратно в игру и вы увидите ваши изменения</li>
		</ul>
        <p><b>Внимание!!! Если Вы будете использовать функционал сайта не выходя с сервера, то рискуете получить автоматический БАН!</b></p>
        <p>Использование хранилища:</p>
		<ul>
			<li>Обновить личный кабинет перед выходом с сервера (если динозавр не отображается, то обратиться к администрации в Discord или группу ВКонтакте со скрином подтверждающим наличие дино на сервере</li>
			<li>Пункт 1 - 2 основной инструкции</li>
			<li>Если вы хотите играть за нового динозавра, то вам нужен свободный слот, далее нажать на динозавра подсвеченного рамкой желтого цвета, нажать кнопку "деактивировать". Теперь, когда вы зайдете на сервер, Вы сможете играть за нового динозавра.</li>
			<li>Если вы хотите сменить динозавра на неактивного, то нужно просто нажать на этого динозавра, далее на кнопку "активировать". Теперь, когда вы зайдете на сервер, Вы сможете играть за выбранного динозавра.</li>
		</ul>
        <p>Инструкция покупки динозавра:</p>
		<ul>
			<li>Выйти с сервера по таймеру</li>
			<li>Пополнить баланс</li>
			<li>Выбрать динозавра</li>
			<li>Приобрести</li>
			<li>Активировать в личном кабинете</li>
			<li>Зайти на сервер и наслаждаться игрой</li>
		</ul>
        <p>Ряд видеозаписей, на которых отражены все моменты указанные выше</p>
		<ul>
			<li>https://www.youtube.com/watch?v=r6LJ9uWfwrs</li>
			<li>https://www.youtube.com/watch?v=KNvFBNLDejs</li>
		</ul>
        <p>О всех найденых багах просьба сообщать <a asp-controller="Info" asp-action="Contacts" class="info-link">Администрации</a></p>
    </div>
</div>

