@{
    ViewData["Title"] = "Помощь серверу";
    ViewData["Page"] = "Help";
}
<div class="info help">
    <h2 class="info-tittle">Информационный раздел нашего сервра</h2>
    <div class="info-body">
        <h3>В этом разделе будут публиковатся решения наиболее распространенных проблем с игрой.</h3>
        <p>О всех найденых багах просьба сообщать <a asp-controller="Info" asp-action="Contacts" class="info-link">Администрации</a></p>        
    </div>
</div>

