@{
    ViewData["Title"] = "Главная";
    ViewData["Page"] = "Regulations";
}
    <div class="info">
        <h2 class="info-tittle">Перед началом игры ознакомьтесь с правилами нашего сервера</h2>
        <div class="info-body">
            <h3>Раздел №1. Общие положения</h3>
            <ol class="reg">
                <li class="reg-text">Запрещено использование багов, и прочих недоработок игры - Бан: 12 часов </li>
                <li class="reg-text">Запрещены оскорбление в адрес игроков и администрации проекта - Бан: от 2 часов</li>
                <li class="reg-text">Запрещено злоупотребление нецензурной лексики Бан: от 2 часов</li>
                <li class="reg-text">Запрещено публичное осуждение/критика действий администрации (с вопросами обращайтесь к ГА) - Бан: от 6 часов</li>
                <li class="reg-text">Запрещен стримснайпинг - Бан: от 6 часов</li>
                <li class="reg-text">Запрещена реклама ресурсов, проектов не относящихся к данному - Бан: на усмотрение администрации</li>
                <li class="reg-text">Запрещено ведение коммерческий деятельности/участие в ней вне магазина пожертвований - Бан: Перм</li>
            </ol>
            <h3>Раздел №2. Механика игры</h3>
            <ol class="reg">
                <li class="reg-text">
                    Межвидовое сотрудничество -  Бан: от 6 часов
                    <ul>
                        <li class="reg-text-sub">Какое-либо взаимодействие между хищниками разного вида, а именно совместная охота, совместное передвижение по карте и т.д. наказывается баном</li>
                        <li class="reg-text-sub">Какое либо взаимодействие между травоядными ограничивается лимитом стада, которое размещено ниже</li>
                    </ul>
                </li>
                <li class="reg-text">
                    Батлог - обнуление динозавра
                    <ul>

                        <li class="reg-text-sub">Выход из игры во время боя</li>
                        <li class="reg-text-sub">Бой начинается после удара одной из сторон</li>
                        <li class="reg-text-sub">
                            Бой считается прекращенным, если соперники регенерируют здоровье одновременно или  не находятся в визуальном контакте более 5 минут <br />
                            Пример нарушения: "Схватка между двумя рексами, один получил серьезную травму и выходит с сервера"<br />
                        </li>
                        <li class="reg-text-sub"></li>
                    </ul>
                </li>
                <li class="reg-text">
                    Подмена/замена динозавров в бою - Бан: от 12 часов
                    <ul>
                        <li class="reg-text-sub">Пример: "Группа рексов из 2 особей нападет на трайка, один из рексов получает травму и уходит из боя, после чего в бой вступает третий рекс и своместно атакует трайка"</li>
                    </ul>
                </li>
                <li class="reg-text">
                    "Прятки" в водоемах - Бан: от 6 часов
                    <ul>
                        <li class="reg-text-sub">Водным динозаврам разрешено полностью скрываться в воде</li>
                        <li class="reg-text-sub">Запрещено находиться в воде НЕ водным динозаврам</li>
                        <li class="reg-text-sub">Запрещена умышленная смерть в воде</li>
                    </ul>
                </li>
                <li class="reg-text">
                    Нарушение лимитов групп - Бан: от 6 часов
                    <ul>
                        <li class="reg-text-sub"> Передвижение в одном направлении, нахождение в непосредственной близости друг к другу, а также атака других динозавров</li>
                        <li class="reg-text-sub">Пример: "4 рекса вместе нападают или просто передвигаются по карте"</li>
                    </ul>
                </li>
                <li class="reg-text">
                    Выдача местоположения других игроков - Бан: от 4 часов
                    <ul>
                        <li class="reg-text-sub">Пример: "Сообщение игрока в общем чате: На большом озере группа ют"</li>
                    </ul>
                </li>
                <li class="reg-text">
                    Вмешательство третей стороны - Бан: от 6 часов
                    <ul>
                        <li class="reg-text-sub">Запрещено вмешательство третей стороны в идущий бой</li>
                    </ul>
                </li>
            </ol>
            <h3>Раздел №3. Лимиты групп динозавров</h3>
            <ol class="reg">
                <li class="reg-text">
                    Динозавры стадии джуви без ограничений!
                </li>
                <li class="reg-text">
                    Динозавры из режима Survival
                    <ul>
                        <li class="reg-text-sub">
                            Травоядные:
                            <ul>
                                <li class="reg-text-sub2">
                                    3 Тир:
                                    <ul>
                                        <li class="reg-text-sub3">Трицератопсы: 3 адолтов</li>
                                    </ul>
                                </li>
                                <li class="reg-text-sub2">
                                    2 Тир:
                                    <ul>
                                        <li class="reg-text-sub3">Майазавры: ограничений нет</li>
                                        <li class="reg-text-sub3">Дьяблоцератопсы: 6 адолтов</li>
                                        <li class="reg-text-sub3">Паразауролофы: 8 адолтов</li>
                                    </ul>
                                </li>
                                <li class="reg-text-sub2">
                                    1 Тир:
                                    <ul>
                                        <li class="reg-text-sub3">Дриозавры: ЗАПРЕЩЕНЫ</li>
                                        <li class="reg-text-sub3">Галлимимусы: ограничений нет</li>
                                        <li class="reg-text-sub3">Пахицефалозавр: ограничений нет</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="reg-text-sub">
                            Хищники:
                            <ul>
                                <li class="reg-text-sub2">
                                    3 Тир:
                                    <ul>
                                        <li class="reg-text-sub3">Тираннозавры: 2 адолта</li>
                                        <li class="reg-text-sub3">Гиганотозавры: 3 адолта</li>
                                    </ul>
                                </li>
                                <li class="reg-text-sub2">
                                    2 Тир:
                                    <ul>
                                        <li class="reg-text-sub3">Карнотавры: 9 адолтов</li>
                                        <li class="reg-text-sub3">Аллозавры: 7 адолтов</li>
                                        <li class="reg-text-sub3">Цератозавры: 8 адолтов</li>
                                        <li class="reg-text-sub3">Зухомим: 6 адолтов</li>
                                    </ul>
                                </li>
                                <li class="reg-text-sub2">
                                    1 Тир:
                                    <ul>
                                        <li class="reg-text-sub3">Ютарапторы: ограничений нет</li>
                                        <li class="reg-text-sub3">Дилофозавры: 12 адолтов</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="reg-text">
                    Динозавры из режима Progression
                    <ul>
                        <li class="reg-text-sub">
                            Травоядные:
                            <ul>
                                <li class="reg-text-sub2">
                                    Мега Тир:
                                    <ul>
                                        <li class="reg-text-sub3">Пуэрто: 2 особи</li>
                                        <li class="reg-text-sub3">Камара: 2 особи</li>
                                    </ul>
                                </li>
                                <li class="reg-text-sub2">
                                    3 Тир:
                                    <ul>
                                        <li class="reg-text-sub3">Шанта: 2 особи</li>
                                    </ul>
                                </li>
                                <li class="reg-text-sub2">
                                    2 Тир:
                                    <ul>
                                        <li class="reg-text-sub3">Анкило: 3 особи</li>
                                        <li class="reg-text-sub3">Стего: 3 особи</li>
                                        <li class="reg-text-sub3">Теризина: 4 особи</li>
                                    </ul>
                                </li>
                                <li class="reg-text-sub2">
                                    1 Тир:
                                    <ul>
                                        <li class="reg-text-sub3">Ава: ограничений нет</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="reg-text-sub">
                            Хищники:
                            <ul>
                                <li class="reg-text-sub2">
                                    3 Тир:
                                    <ul>
                                        <li class="reg-text-sub3">Спино: 2 особи</li>
                                    </ul>
                                </li>
                                <li class="reg-text-sub2">
                                    2 Тир:
                                    <ul>
                                        <li class="reg-text-sub3">Альберт: 6 особи</li>
                                        <li class="reg-text-sub3">Акро: 4 особи</li>
                                    </ul>
                                </li>
                                <li class="reg-text-sub2">
                                    1 Тир:
                                    <ul>
                                        <li class="reg-text-sub3">Австро: ограничений нет</li>
                                        <li class="reg-text-sub3">Херрера: ограничений нет</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="reg-text">
                    Лимиты для стада травоядных <br />Внимание! Группа игроков приобретает статус "Стадо", если в ней имеется 2 и более видов динозавров
                    <ul>
                        <li class="reg-text-sub">
                            3 Тир:
                            <ul>
                                <li class="reg-text-sub2">5 адолт особей</li>
                            </ul>
                        </li>
                        <li class="reg-text-sub">
                            2 Тир:
                            <ul>
                                <li class="reg-text-sub2">Нет ограничений на дино из Survival</li>
                                <li class="reg-text-sub2">Дино из Progression: 5 адолт особей</li>
                            </ul>
                        </li>
                        <li class="reg-text-sub">
                            1 Тир:
                            <ul>
                                <li class="reg-text-sub2">Нет ограничений</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ol>
            <h3>Раздел №5. Правила поведения хищников</h3>
            <ol class="reg">
                <li class="reg-text">
                    Спинозаврам запрещена регенерация здоровья в воде во время боя ( Ложиться в воду через клавишу "H" )
                </li>               
            </ol>
        </div>

       