.contacts{
    .info{        
        &-contacts{
            margin-top: 15px;
            a{
                text-decoration: none;
                font-size: 1.2rem;
                color: $clr_4;
            }
        }
    }
}