@model MessageViewModel;
@{
    ViewData["Title"] = "Бан";
}
    <div class="info">
        <h2 class="info-tittle"Внимание</h2>
        <div class="info-body">
            <h3>Доступ запрещен!</h3>
            <p>Ваш аккаунт заблокирован обратитесь к администрации!</p>
            <img src="~/img/error.svg" alt="Alternate Text"/>
        </div>
    </div>
