@model MessageViewModel;
@{
    ViewData["Title"] = "Тех работы";
}
    <div class="info">
        <h2 class="info-tittle"Внимание</h2>
        <div class="info-body">
            <h3>Приносим извинения</h3>
            <p>Личный кабинет временно закрыт для проведения техничесских работ</p>
            <img src="~/img/error.svg" alt="Alternate Text"/>
        </div>
    </div>
